*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


.box-filmes{
    min-height:100px;
    height:100%;
}

.description{
    opacity:0;
    height:0;
    transition: all 1s;
}
.title{
    cursor:pointer;
}